/*
*{
    font-family: "Audiowide", "Sofia", sans-serif;
    //fonts à utiliser pour les notes (notifications), avertissements
}
*/


a {
    color: inherit;
    background: none;
    text-decoration: none;
}


.articleSpecial{
    text-decoration-line: underline;
}

#logotd{
    background-image: url("images/tdlogo-ok.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}